@charset "utf-8";
/* Sobre Mogi */
#content_sobre{margin-top:35px; float:left; width:100%; font-family:"ConduitITCRegular", Helvetica, sans-serif; color:#828282; text-align:justify;}
	#content_sobre .destaque{background:url(../_img/fundo_sobre.jpg) no-repeat left; width:100%; height:329px; float:left; display:inline;}
	#content_sobre .destaque .txt{width:475px; height:280px; float:right; display:inline; margin:36px 44px 0 0; color:#fff; padding-right: 10px;padding-right: 10px;}
		.destaque .txt h2 {font-weight:normal;}
		.destaque .txt .txt_in {height:186px; overflow-y:scroll;padding-right:20px;}
			.destaque .txt .txt_in p {font-size:15px;}

	#content_sobre .subtitle{background:url(../_img/fund_subtit_evento.png) no-repeat left top; width:380px; height:60px; float:left; display:inline; padding:36px 0 0 44px; font-size:26px; font-weight:normal; color:#0a4595; margin:39px 40px 35px 0; text-transform:uppercase;}
	#content_sobre .carousel_sobre{width:460px; float:left; display:inline;margin-bottom: 15px;}
	#content_sobre .carousel_sobre .carousel ul li{width:313px; height:313px; float:left; display:inline;}
	#content_sobre .carousel_sobre .next, #content_sobre .carousel_sobre .prev{margin:130px 15px 0}
	#content_sobre .galeria{width:496px; float:left; display:inline; margin:5px 0 0 16px; color:#0a4595;}
		.galeria span a {color: #0A4595;display:block;font-size:22px;font-weight:normal;text-decoration:none;text-transform: uppercase;margin-left: 135px;}
	#content_sobre .mapa_cont{width:470px; float:left; display:inline;}
		.mapa_cont .mapa{width:470px;}
	#content_sobre .right{float:right; margin-right:15px;}
	#content_sobre .veja_tambem .item a {padding:0;}

/* Cidade Sede */
#content_cidade{margin-top:35px; float:left; width:100%; font-family:"ConduitITCRegular", Helvetica, sans-serif; color:#828282; text-align:justify;}
	#content_cidade .destaque{background:url(../_img/fundo_cidade_sede.jpg) no-repeat left; width:100%; height:329px; float:left; display:inline;}
	#content_cidade .texto {margin-right:60px;}
	#content_cidade .texto, #content_cidade .video {width:460px;height: 400px;margin-top:50px; float:left;}
	#content_cidade .subtitle{width:480px; float:left; display:inline; font-size:26px; font-weight:normal; margin-bottom:15px; text-transform:uppercase;}
	#content_cidade .right{float:right; margin-right:15px;}
	#content_cidade .veja_tambem .item a {padding:0;}

/* Palavra do Prefeito */	
#content_palavra{margin-top:35px; float:left; width:100%; font-family:"ConduitITCRegular", Helvetica, sans-serif; color:#828282; text-align:justify;}
	#content_palavra .destaque{background:url(../_img/fundo_palavra_prefeito.jpg) no-repeat left; width:100%; height:329px; float:left; display:inline;}
		#content_palavra .destaque h2 {font-size:24px;width:477px;font-weight: normal;margin-top:60px;line-height:35px;}
			#content_palavra .destaque h2 span {font-size:35px;color:#e3d200;}
		#content_palavra .aspa {float: right; margin: -40px 15px 0 0;}
	#content_palavra .texto {width:460px;height:330px;margin-top:50px; float:left;font-size:15px;}
	#content_palavra .subtitle{width:480px; display:inline; font-size:23px; font-weight:normal; margin-bottom:15px;color:#bcae02;text-align:justify;line-height:28px;} 
	#content_palavra .right{float:right; margin-right:15px;}
	#content_palavra .veja_tambem .item a {padding:0;}
	
/* Galeria Multimídia */	
#content_galeria{margin-top:35px; float:left; width:100%; font-family:"ConduitITCRegular", Helvetica, sans-serif; color:#828282; text-align:justify;}
	#content_galeria .videos, #content_galeria .fotos {width:430px;height:1000px;margin-top:20px;font-size:15px;float:left}
		#content_galeria .videos {margin-right:100px;}
		#content_galeria .subtitle{width:430px;font-size:32px; font-weight:bold; margin-bottom:15px;color:#bcae02;text-align:justify;line-height:28px;text-transform:uppercase;} 
		#content_galeria span {line-height:25px;}
		#content_galeria h3 {width:430px;font-size:20px; font-weight:bold; margin-bottom:10px;color:#bcae02;text-align:justify;line-height:28px; text-transform:uppercase;}
		#content_galeria  p {margin-top:15px;}
		#content_galeria .videos .listagem {height:250px;margin-top:50px;}
			.listagem .subtitle {background:url(../_img/fundo_galeria_multimidia.jpg) repeat-x bottom;width:430px;font-size:20px !important; font-weight:normal; margin-bottom:15px;color:#bcae02;text-align:justify;line-height:28px;text-transform:uppercase;}
			.videos .listagem ul {height:420px; overflow-y:scroll; margin-top:10px;}
			.videos .listagem ul li {border-bottom:1px dotted #BCAE02; padding-bottom:15px; float:left; cursor:pointer; padding:8px 15px 0 8px;}
			.videos .listagem ul li:hover {border-bottom:1px dotted #fff; background:#BCAE02;}
			.videos .listagem ul li:hover p{color:#fff;}
			.videos .listagem ul li:hover .title{color:#fff;}
			.videos .listagem ul li:hover img{border:2px solid #fff; padding:0;}
				.listagem p {float:left;margin: 0 !important;}
					.listagem p .title {width:260px;text-transform:uppercase;color:#bcae02;display:block;line-height:16px !important;vertical-align:bottom;font-weight:bold;padding: 30px 0 0;}
				.videos .listagem img {float:left;margin:0 10px 15px 0; padding:2px;}

		#content_galeria .fotos .listagem {height:250px;margin-top:50px;}
			.listagem .subtitle {background:url(../_img/fundo_galeria_multimidia.jpg) repeat-x bottom;width:430px;font-size:20px !important; font-weight:normal; margin-bottom:15px;color:#bcae02;text-align:justify;line-height:28px;text-transform:uppercase;}
			.fotos .listagem ul {height:260px;overflow-y:scroll;}
			.fotos .listagem ul li {float:left;margin:0 25px 25px 0; }
			.fotos .listagem ul li img {padding:2px; }
			.fotos .listagem ul li img:hover {border:2px solid #BCAE02; padding:0; }

/* História dos Jogos */	
#content_historia{margin-top:35px; float:left; width:100%; font-family:"ConduitITCRegular", Helvetica, sans-serif; color:#828282; text-align:justify;}
	#content_historia .destaque{background:url(../_img/fundo_historia.jpg) no-repeat left; width:100%; height:657px; float:left; display:inline;}
	#content_historia .destaque .txt{width:430px; height:280px; float:left; display:inline; margin:50px 0 0 35px; color:#fff; padding-right: 10px;padding-right: 10px;}
		.destaque .txt h2 {font-weight:normal;font-size:28px;text-transform:uppercase;}
		.destaque .txt p {font-size:15px;}
	#content_historia .subtitle{background:url(../_img/fund_subtit_evento.png) no-repeat left top; width:950px; height:60px; float:left; display:inline; padding:36px 0 0 44px; font-size:26px; font-weight:normal; color:#0a4595; margin:39px 40px 35px 0; text-transform:uppercase;}
	#content_historia .carousel_historia{width:460px; float:left; display:inline;margin:0 0 15px 15px;}
		#content_historia .carousel_historia .carousel ul li{width:400px; height:270px; float:left; display:inline;}
		#content_historia .carousel_historia .next, #content_historia .carousel_historia .prev{margin:110px 15px 0; position:absolute; z-index:15;width:69px;height:69px;}
		#content_historia .carousel_historia .next{background-image:url(../_img/setas_carousel_hist.png);background-position:right;margin-left:-15px;}
		#content_historia .carousel_historia .prev{background-image:url(../_img/setas_carousel_hist.png);background-position:left;margin-left:-450px}
	#content_historia .linha {width:880px; margin:0 40px;overflow-x:scroll;}
		#content_historia .linha ul {width:22000px;}
			.linha ul li {width:270px;height:125px;margin:0 0 0 20px;float:left;display:inline;}
				.linha ul li .ano {width:260px;float:left; font-family:"ConduitITCRegular", Helvetica, sans-serif; color:#0a4595;font-size:35px;font-weight:bold;}
				.linha ul li p {float:left;width:80px;text-align:right;text-transform:uppercase;line-height:20px;}
				.linha ul li p.red {color:#ce2428; width:170px;text-align:left;margin-left:10px;}

/* Atletas Mogianos */	
#content_atletas{margin-top:15px; float:left; width:100%; font-family:"ConduitITCRegular", Helvetica, sans-serif; color:#828282; text-align:justify;}
	#content_atletas .btn_atleta {width:469px;height:220px;float:left; display:inline;text-decoration:none;	}
		.btn_atleta div {padding:10px;height:200px;}
			.btn_atleta h2 {width:240px; float:left; display:inline; font-size:26px; font-weight:bold; margin-bottom:15px; text-transform:uppercase;color:#0a4595;}
			.btn_atleta img {float:left; display:inline; margin-right:15px;}
			.btn_atleta p {color:#0a4595;}
			.btn_atleta .conheca {width:230px;height:35px;background:#0f68ca;margin-top:10px;padding-top:10px;text-align:center;color:#fff;float:left;text-transform:uppercase;font-size:28px;}
		.btn_atleta:hover div {background:#0a4595;	}
			.btn_atleta:hover p, .btn_atleta:hover h2 {color:#fff;}
			
	#content_atletas .destaque{background:url(../_img/fundo_atletas.jpg) no-repeat left; width:100%; height:358px; float:left; display:inline;}
		#content_atletas .destaque .txt {width:942px;margin:17px;float:left;display:inline;}
			#content_atletas .txt img {float:left;display:inline;margin-right:17px;}
			#content_atletas .txt .subtitle {font-size:40px;font-weight:bold;margin-bottom:70px;}
			#content_atletas .txt .subtitle_2 {margin-bottom:25px;}
			#content_atletas .label {color:#e3d400;font-size:20px;font-weight:bold;margin-top:10px;display:inline-block;}
			#content_atletas .txt p {background:url(../_img/atletas/icone_dirceu.png) no-repeat bottom right;line-height:18px;font-size:16px;width:600px;;height:212px;float:left;display:inline;}
			#content_atletas .txt .p2 {background:url(../_img/atletas/icone_akcel.png) no-repeat bottom right;height:270px;font-size:14px}
	#content_atletas .voltar_atletas {width:985px; height:40px; text-align:right; float:left;}
		#content_atletas .voltar_atletas a{ color: #0A4595;margin-right:11px; font-family: "ConduitITCRegular",Helvetica,sans-serif; font-size: 16px; text-decoration: underline; padding: 4px;}
		#content_atletas .voltar_atletas a:hover{color:#fff; background:#0a4595; text-decoration:none;}
	#content_atletas .texto {margin-top:50px;float:left;}
		#content_atletas .texto .subtitle {width:410px;color:#0a4595;font-size:26px;}
		#content_atletas .texto span { width:410px;font-size:22px;display:inline-block;}
		#content_atletas .texto h3 {font-size:24px; font-weight:bold;margin-bottom:20px;}
		#content_atletas .texto iframe {margin-right:15px;}
			#content_atletas .carousel_atletas{width:560px;height:280px; float:right; display:inline;margin:0 0 15px 15px;}
				#content_atletas .carousel_atletas .carousel ul li{width:475px; height:274px; float:left; display:inline;}
				#content_atletas .carousel_atletas .next, #content_atletas .carousel_atletas .prev{margin:130px 0 0}
		
	#content_atletas .veja_tambem .item a {padding:0;}

        #content_atletas.content_mascote .destaque { background:#0A4595; width: 975px; }
		#content_atletas.content_mascote .destaque .txt { margin:17px 17px 17px 0; width:959px; }
		#content_atletas.content_mascote .destaque .txt .p2 { width:470px; height:225px; padding-right:135px; text-align:justify; background:url(../_img/mascote/icone.jpg) no-repeat bottom right; }
	
	#content_parceiros {margin-top:35px; float:left; width:100%; font-family:"ConduitITCRegular", Helvetica, sans-serif; color:#828282; text-align:justify; }
		#content_parceiros .subtitle{background:url(../_img/fund_subtit_evento.png) no-repeat left top; width:975px; height:60px; display:inline-block; padding:36px 0 0 44px; font-size:26px; font-weight:normal; color:#0a4595; margin:39px 40px 35px 0; text-transform:uppercase;}
		#content_parceiros label { margin-bottom:10px; text-transform:uppercase; display:inline-block; }
		#content_parceiros select { display:none; }
		
		#content_parceiros .item { width: 315px; height: 300px; margin-right:175px; font-size:18px; line-height:24px; font-weight:bold; float:left; }
			#content_parceiros .item span { font-weight:normal; }
                        #content_parceiros .item span a {font-weight:normal; font-size: 18px; line-height: 24px; color: #828282;}
                        #content_parceiros .item span a:hover {text-decoration: underline !important;}
			#content_parceiros .item span#title { color:#0a4595; font-weight:bold; font-size:21px;  }
			#content_parceiros .bgGray { width: 300px; height: 28px; margin:-22px 0 0 6px; background: #d6d5d5; z-index: -1; position:absolute; opacity: .7; filter: alpha(opacity=70); -ms-filter: "alpha(opacity=70)"; -khtml-opacity: .70; -moz-opacity: .70; }








